{% extends 'base.html.twig' %}

{% block title %}Mon compte  {% endblock %}

{% block body %}
    <style>
         a.active {
            background-color: var(--main-color) !important;
             color: white !important;
        }
    </style>
    {{ include( "partials/title_section.html.twig", {'name' :'Mon compte'}) }}


    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard"
                               role="tab" aria-controls="dashboard" aria-selected="false"><i class="ti-layout-grid2"></i> Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab"
                               aria-controls="orders" aria-selected="false"><i class="ti-shopping-cart-full"></i> Commandes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab"
                               aria-controls="address" aria-selected="true"><i class="ti-location-pin"></i> Mes
                                Addresses</a>
                        </li>
                        <li class="nav-item hide">
                            <a class="nav-link" id="account-detail-tab" data-toggle="tab" href="#account-detail"
                               role="tab" aria-controls="account-detail" aria-selected="true"><i
                                        class="ti-id-badge"></i> Détails de mon compte</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" id="account-detail-tab" target="_blank"  href="{{ path('admin') }}"
                                   role="tab" aria-controls="account-detail" aria-selected="true"><i
                                            class="ti-briefcase"></i> Administration</a>
                            </li>
                        {%  endif %}
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="{{ path('app_logout') }}"><i
                                        class="ti-lock"></i> Déconnexion</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 col-md-8">

                    {% for message in app.flashes('address_message') %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {%endfor %}

                    <div class="tab-content dashboard_content">
                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel"
                             aria-labelledby="dashboard-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Hello ! {{ app.user.firstname | upper }} {{ app.user.lastname }}</h3>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Depuis le tableau de bord de votre compte, vous pouvez facilement vérifier et
                                        visualiser vos <a href="javascript:void(0);"
                                                          onclick="$('#orders-tab').trigger('click')"> commandes
                                            récentes </a>
                                        <a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')">
                                            gérer vos adresses de livraison</a> et de facturation et modifier votre mot
                                        de passe et les <a href="javascript:void(0);"
                                                           onclick="$('#account-detail-tab').trigger('click')">détails</a>
                                        de votre compte.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Commandes</h3>
                                </div>
                                <div class="card-body">
                                    {% if orders %}
                                        <div class="table table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Date</th>
                                                    <th>Statut</th>
                                                    <th>Total</th>
                                                    <th>Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for order in orders %}
                                                <tr>
                                                    <td>#{{ order.id }}</td>
                                                    <td>{{ order.createdAt | date('d/m/Y')}}</td>
                                                    <td>{{ order.isPaid ?  '<i class="fa fa-check-circle text-success"></i> Payée' : '<i class="fa fa-times text-danger"></i> Non payé'}}</td>
                                                    <td>{{ (order.subTotalTTC /100 )}} pour {{ order.quantity }} article(s)</td>
                                                    <td><a href="{{ path('app_account_show_order',{'id':order.id }) }}" class="btn btn-primary text-white">Voir</a></td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div>
                                            Déoslé {{ app.user.fullName }} vous n'avez pas encore de commande
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                            <div class="row">
                                <div class="col-lg-12">
                                    <a href="{{ path('app_address_new') }}" class="btn btn-primary mb-3 text-white">
                                        <i class="fa fa-plus-circle"></i>
                                        Ajouter
                                    </a>
                                </div>
                            </div>
                            <div class="row">

                                {% if app.user.addresses %}
                                    {% for address in app.user.addresses %}
                                        <div class="col-lg-6">
                                            <div class="card mb-3 mb-lg-0">
                                                <div class="card-header">
                                                    <h3> {{ address.fullname }}  </h3>
                                                </div>
                                                <div class="card-body">
                                                    <address>
                                                        {{ address.address }}<br>
                                                        {{ address.complement }} <br>
                                                        {{ address.city }} <br>
                                                        {{ address.codePostal }}<br>
                                                        {{ address.country }}
                                                    </address>
                                                    <div class="btn-group">
                                                        <button class="btn btn-primary">
                                                            <a href="{{ path('app_address_edit', {'id' : address.id}) }}">
                                                                <i class="fa fa-pencil"></i>
                                                                Modifier
                                                            </a>
                                                        </button>
                                                        {% include('address/_delete_form.html.twig') %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>
                                        Désolé vous n'avez pas encore d'addresse reliée à votre compte !
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="account-detail" role="tabpanel"
                             aria-labelledby="account-detail-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3>Details du compte</h3>
                                </div>
                                <div class="card-body">
                                    <form method="post">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label>Nom <span class="required">*</span></label>
                                                <input required="" class="form-control" name="name" type="text"
                                                       value="{{ app.user.firstname }}">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Prenom <span class="required">*</span></label>
                                                <input required="" class="form-control" name="phone"
                                                       value="{{ app.user.lastname }}">
                                            </div>
                                            <div class="form-group col-md-12 hide">
                                                <label>Display Name <span class="required">*</span></label>
                                                <input required="" class="form-control" name="dname" type="text">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Email <span class="required">*</span></label>
                                                <input required="" class="form-control" name="email" type="email"
                                                       value="{{ app.user.email }}">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Mot de passe actuel<span class="required">*</span></label>
                                                <input required="" class="form-control" name="password" type="password">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Nouveau mot de passe <span class="required">*</span></label>
                                                <input required="" class="form-control" name="npassword"
                                                       type="password">
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Confirmer le mot de passe <span class="required">*</span></label>
                                                <input required="" class="form-control" name="cpassword"
                                                       type="password">
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-fill-out" name="submit"
                                                        value="Submit">Enré
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
