<!-- Start Footer Area -->
<footer class="footer">
    <!-- Footer Top -->
    <div class="footer-top section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer about">
                        <p class="text">Achetez vos articles sur notre site et soyez livré chez vous, nous disposons d'articles diversifiés qui pourrons vous satisfaire. </p>
                        <p class="call">Une question ? Contactez-nous<span>
                                <a href="tel:{{ config.contact }}">{{ config.contact }}</a>
                            </span>
                        </p>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Informations</h4>
                        <ul>
                            <li><a href="#">A propos</a></li>
                            <li><a href="{{ path("app_cgu")}}">Conditions d'utilisation</a></li>
                            <li><a href="#">Contactez-nous</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-2 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer links">
                        <h4>Service client</h4>
                        <ul>
                            <li><a href="#">Méthodes de paiement</a></li>
                            <li><a href="#">Confidentialité</a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Single Widget -->
                    <div class="single-footer social">
                        <h4>Restons en contact</h4>
                        <!-- Single Widget -->
                        <div class="contact">
                            <ul>
                                <li>{{ config.adresse }}</li>
                                <li>{{ config.email }}</li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                        <ul>
                            <li><a href="#"><i class="ti-facebook"></i></a></li>
                            <li><a href="#"><i class="ti-twitter"></i></a></li>
                            <li><a href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Single Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Top -->
    <div class="copyright">
        <div class="container">
            <div class="inner">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="left">
                            <p>Copyright © {{ "now"|date("Y") }} by
                                <a href="https://sohsylvain.dev/" target="_blank" style="text-decoration: none" class="mainColor">
                                    Syl20
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="right">
                            <img class="hide" src="{{ asset("assets/images/payments.png") }}" alt="#">
                            <img src="https://vemianou.com/wp-content/uploads/2023/04/logo-flooz.jpg" style="height: 30px;">
                            <img src="https://togocom.tg/wp-content/uploads/2020/08/Logo_TMoney_Togocom_New1.png" style="height: 40px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /End Footer Area -->