<!-- Slider Area -->
<section class="hero-slider">
    <!-- Single Slider -->
    <div class="single-slider" style="background-image: url(/assets/uploads/slider/{{slider.image}}); !important;">
        <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-9 offset-lg-3 col-12">
                        <div class="text-inner">
                            <div class="row">
                                <div class="col-lg-7 col-12">
                                    <div class="hero-text">
                                        <h1>{{ slider.title}}</h1>
                                        <p>{{ slider.description}}</p>
                                        <div class="button">
                                            <a href="{{ slider.buttonUrl}}" class="btn btn-primary">
                                                <i class="fa fa-cart-plus"></i>
                                                {{ slider.buttonMessage}} !
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>
<!--/ End Slider Area -->