{% extends 'base.html.twig' %}

{% block title %} Conditions générales d'utilisation |  {{config.clientName}}{% endblock %}

{% block body %}

    {{ include( "partials/title_section.html.twig", {'name' :'CGU'}) }}

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-3 ">
                <h2 class="text-center">
                    Conditions générales d'utilisation du site {{config.clientName}}
                </h2>
                <div class="text-justify">
                    <hr>
                    <ol>
                        <li><p>Introduction
                                Le site {{config.clientName}} est un site de commerce en ligne offrant des produits à la vente. En
                                accédant
                                ou en utilisant le site, vous acceptez les conditions générales d'utilisation
                                suivantes.</p>
                        </li>
                        <li><p>Modification des conditions générales d'utilisation
                             {{config.clientName}} se réserve le droit de modifier ces conditions générales d'utilisation à tout
                                moment
                                sans préavis. Il est de votre responsabilité de vérifier régulièrement ces conditions
                                pour
                                vous assurer que vous êtes au courant des modifications.</p></li>
                        <li><p>Accès au site
                             {{config.clientName}} s'efforce de rendre le site disponible en continu, mais ne garantit pas une
                                disponibilité ininterrompue.  {{config.clientName}} peut suspendre, interrompre ou limiter l'accès à tout
                                ou
                                partie du site pour des raisons de maintenance, de mise à jour ou pour toute autre
                                raison.</p></li>
                        <li><p>Utilisation du site
                                Vous êtes autorisé à utiliser le site uniquement à des fins personnelles et commerciales
                                légitimes. Vous ne devez pas utiliser le site de manière illégale ou interdite par les
                                conditions générales d'utilisation.</p></li>
                        <li><p>Commandes
                                Vous pouvez passer une commande en suivant les étapes décrites sur le site. Nous nous
                                réservons le droit de refuser toute commande pour quelque raison que ce soit.</p></li>
                        <li><p>Prix et paiement
                                Les prix indiqués sur le site sont en euros et incluent la TVA. Les frais de livraison
                                peuvent s'appliquer en fonction de la destination et du mode de livraison choisis. Nous
                                acceptons les paiements par carte de crédit et PayPal.</p></li>
                        <li><p>Livraison
                                Les délais de livraison varient en fonction de la destination et du mode de livraison
                                choisis. Nous ne sommes pas responsables des retards de livraison causés par des
                                facteurs
                                extérieurs à notre contrôle.</p></li>
                        <li><p>Retours et remboursements
                                Vous pouvez retourner un produit dans les 14 jours suivant la livraison si le produit
                                est
                                endommagé ou ne correspond pas à la description du site. Nous vous rembourserons le
                                montant
                                payé pour le produit.</p></li>
                        <li><p>Propriété intellectuelle
                                Le contenu du site, y compris les textes, images et marques, est protégé par le droit de
                                la
                                propriété intellectuelle. Vous ne pouvez pas reproduire, distribuer ou utiliser ce
                                contenu
                                sans notre autorisation écrite.</p></li>
                        <li><p>Responsabilité
                                Nous ne sommes pas responsables des dommages indirects ou consécutifs découlant de
                                l'utilisation du site. Nous ne garantissons pas que le site sera exempt d'erreurs ou que
                                le contenu sera toujours disponible. Nous nous efforçons de corriger les erreurs dès que
                                possible.</p>
                        </li>
                        <li><p>Loi applicable
                                Les conditions générales d'utilisation sont régies par les lois françaises et tout
                                litige sera soumis aux tribunaux français.</p></li>
                        <li><p>Contact
                                Si vous avez des questions ou des commentaires concernant les conditions générales
                                d'utilisation, veuillez nous contacter à l'adresse email suivante : <a
                                        href="mailto:{{config.email}}" target="_new">{{config.email}}</a>.</p></li>
                    </ol>
                </div>
                <div>
                    <p>
                        En accédant et en utilisant le site {{config.clientName}}, vous acceptez de vous conformer à ces conditions
                        générales d'utilisation
                    </p>
                </div>
                <br>
            </div>
        </div>
    </div>
{% endblock %}